.blau, #amount, p.boese_links {
  background-color: #2f78bf;
  color: #FFF; }

.panel {
  border: none;
  background-color: #2f78bf;
  text-align: center;
  padding: 0;
  margin: 0; }
  .panel h1, .panel h2, .panel h3, .panel p {
    color: #FFF;
    font-family: Helvetica, sans-serif; }
  .panel h1, .panel h2, .panel h3 {
    font-weight: 100; }
  .panel h1 {
    padding-top: 2%; }
  .panel p {
    font-size: 0.9em; }
  .panel span {
    font-weight: bold; }
  .panel hr {
    width: 50%;
    margin: 2% auto 0 auto; }

a.dark {
  color: #0e2338; }

a.dark:hover {
  color: #F3BE13; }

.panel2 {
  border: none;
  background-color: #FFF;
  text-align: center;
  padding: 0;
  margin: 0; }
  .panel2 h1, .panel2 h2, .panel2 h3, .panel2 p {
    color: #333;
    font-family: Helvetica, sans-serif; }
  .panel2 h1, .panel2 h2, .panel2 h3 {
    font-weight: 100; }
  .panel2 h1 {
    padding-top: 2%; }
  .panel2 p {
    font-size: 0.9em; }
    .panel2 p img {
      height: 70px;
      width: auto;
      margin: 7px; }
  .panel2 span {
    font-weight: bold; }
  .panel2 hr {
    width: 50%;
    margin: 2% auto 0 auto; }
  .panel2 .spruch {
    font-weight: 100;
    font-size: 1.2em;
    color: #2f78bf; }

.spruch {
  font-style: italic; }

.fopa, footer p, footer a {
  color: #888;
  font-size: 0.9em;
  font-family: Helvetica, sans-serif; }

footer {
  width: 100%;
  height: 8%;
  text-align: center; }
  footer a {
    margin-right: 0.5%;
    margin-left: 0.5%; }
  footer a:hover {
    color: #0e2338; }

.f_active {
  color: #0e2338; }

.fi-social-facebook, .fi-social-twitter, .fi-social-google-plus, .fi-mail {
  color: #FFF;
  font-size: 3em; }

.fi-first-aid, .fi-laptop, .fi-book {
  color: #333;
  font-size: 8em; }

a:hover .fi-first-aid, a:hover .fi-laptop, a:hover .fi-book {
  color: #F3BE13; }

.arrow_down {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0 auto 0 auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #2f78bf; }

/*Dreieck nach links gerichtet
.arrow_left{	
	@include d(0);
	border-left: 20px solid $secondary-color-blue;
	border-top: $border-d;
	border-bottom: $border-d;
}

//Dreieck nach rechts gerichtet
.arrow_right{	
	@include d(0);
	border-right: 20px solid $secondary-color-blue;
	border-top: $border-d;
	border-bottom: $border-d;
}*/
#erscheinen {
  display: none; }

.contact-image {
  height: 35%;
  width: 35%;
  margin-top: 5%;
  border-radius: 50%; }

.fluegel {
  height: 30%;
  width: 30%;
  padding-top: 5%; }

.o, #icons_marlene, #icons_martina {
  position: absolute;
  display: none; }

/*.out {
	@extend .o;
	margin: 0 auto 0 auto;
}

//fuer jQuery effekt auf kontakt seite erweiterung icon2 ->alt
/*.out2 {
	@extend .o;
	margin: 20% auto 0 20%;
}*/
#icons_marlene, #icons_martina {
  margin: 5% auto 0 43%;
  text-align: center;
  height: auto;
  width: auto;
  z-index: 999; }

.slider_img {
  height: 20%;
  width: 20%;
  margin: 0 auto 0 auto;
  border-radius: 50%; }

.character {
  margin-top: 3%; }

.small, .radius, .button {
  background-color: #0e2338; }

.button:hover {
  background-color: #F3BE13; }

#amount {
  text-align: center;
  border: none;
  box-shadow: none; }

.idee {
  height: 200px;
  color: #333; }

p.boese_links {
  font-weight: bold;
  min-height: 100px;
  padding: 20px;
  color: #FFF; }
  p.boese_links a {
    color: #0e2338; }
  p.boese_links a:hover {
    color: #F3BE13; }

#back-top {
  position: fixed;
  bottom: 20px;
  right: 2%;
  z-index: 100; }

#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

#skip a:focus {
  position: static;
  width: auto;
  height: auto; }

#ac_c, #ac_t, #ac_s {
  color: #2f78bf; }

.th {
  border-width: 2px; }

.cont {
  height: 50px;
  width: 50px;
  z-index: 100; }

/*# sourceMappingURL=style.css.map */
